<div class="social-icon-links">
  <!-- SVG Icons are from https://simpleicons.org -->
  {{ if .Site.Social.facebook }}
  <a class="link dim dib h1 w1 mh1" href="https://facebook.com/{{ .Site.Social.facebook }}" title="Facebook" target="_blank">
    {{ partial "shared/icons/facebook.svg" }}
  </a>
  {{ end }}
  {{ if .Site.Social.instagram }}
  <a class="link dim dib h1 w1 mh1" href="https://instagram.com/{{ .Site.Social.instagram }}" title="Instagram" target="_blank">
    {{ partial "shared/icons/instagram.svg" }}
  </a>
  {{ end }}
  {{ if .Site.Social.youtube }}
  <a class="link dim dib h1 w1 mh1" href="https://youtube.com/{{ .Site.Social.youtube }}" title="YouTube" target="_blank">
    {{ partial "shared/icons/youtube.svg" }}
  </a>
  {{ end }}
  {{ if .Site.Social.twitter }}
  <a class="link dim dib h1 w1 mh1" href="https://twitter.com/{{ .Site.Social.twitter }}" title="Twitter" target="_blank">
    {{ partial "shared/icons/twitter.svg" }}
  </a>
  {{ end }}
  {{ if .Site.Social.github }}
  <a class="link dim dib h1 w1 mh1" href="https://github.com/{{ .Site.Social.github }}" title="GitHub" target="_blank">
    {{ partial "shared/icons/github.svg" }}
  </a>
  {{ end }}
  {{ if .Site.Social.medium }}
  <a class="link dim black-90 dib h1 w1 mh1" href="https://medium.com/@{{ .Site.Social.medium }}" title="Medium" target="_blank">
    {{ partial "shared/icons/medium.svg" }}
  </a>
  {{ end }}
  {{ if .Site.Social.linkedin }}
  <a class="link dim black-90 dib h1 w1 mh1" href="https://linkedin.com/in/{{ .Site.Social.linkedin }}" title="LinkedIn" target="_blank">
    {{ partial "shared/icons/linkedin.svg" }}
  </a>
  {{ end }}
</div>
