{{ define "main" }}
<main class="page-main pa4 mw-100" role="main">
  <section class="page-content mw7 center">
    <article class="post-content pa0 ph4-l">
      <section class="post-body pb4">
        {{ .Content }}
      </section>
      <footer class="post-footer">
        {{ partial "shared/post-pagination.html" . }}
      </footer>
    </article>
    {{ if .CurrentSection.Params.show_disqus_comments }}
    <div class="post-comments pa0 pa4-l mt5">
      {{ template "_internal/disqus.html" . }}
    </div>
    {{ end }}
  </section>
</main>
<aside class="page-sidebar" role="complementary">
  {{ partial "shared/single-sidebar-content.html" . }}
</aside>
{{ end }}
